@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@media screen and (min-width: 992px) {
    header nav ul.navbar-nav {
        margin-right: 100px;
    }
}
.container-fluid {
	padding: 0;
}
.container {
	max-width: 1024px;
}
header nav ul.navbar-nav .nav-link {
    color: white !important;
    font-family: Roboto-Regular, sans-serif;
}

header nav .navbar-brand {
    font-family: Roboto-Medium, sans-serif;
}

@media screen and (max-width: 576px) {
    header nav .navbar-toggler {
        position: relative;
        left: 15px;
    }
}

main .map {
   /* background: url(../img/map.png);*/
    height: 420px;
    background-size: cover;
}
main .map #mapid {
	height: 420px;
}
main .wrapper-filtr {
    background: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
    main .filtr form {
        justify-content: flex-start !important;
    }
    main .news .photo-news .text {
        margin-left: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    main .news .photo-news .text {
        margin-left: 0 !important;
    }
}

main .filtr .filtr-forms {
    margin-right: 15px;
    margin-left: 15px
}

main .filtr form select {
    margin-top: 10px;
    border-radius: 0;
}

main .filtr form input {
    margin-top: 10px;
    border-radius: 0;
    width: 100% !important;
}

main .filtr form button {
    margin-top: 10px;
    border-radius: 0;

    background: #fdbc3b;
    color: black;
}

@media screen and (max-width: 290px) {
    main .filtr form select,
    main .filtr form input {
        width: 100% !important;
    }
}

main .filtr h2 {
    font-size: 30px;
    font-family: Roboto-Regular, sans-serif;
}

main .news {
    margin-top: 40px;
}

main .news .button-link {
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}

main .news .photo {
    margin-bottom: 10px;
}

main .news .photo img {
    padding: 0;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    main .news .text {
        padding-left: 25px;
    }
}

main .news .text p {
    line-height: 16px;
    margin-bottom: 10px;
}

main .news .text .date {
    color: #999999;
    font-family: Roboto-Regular, sans-serif;
}

main .news .text strong {
    font-family: Roboto-Bold, sans-serif;
}

main .news .article {
    font-size: 16px;
    font-family: Roboto-Regular, sans-serif;
}

main .news .link {
    padding: 12px 10px 12px 10px;
    border: 1px solid #cccbca;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    main .container .topic-head {
        display: none;
    }
}

main .container .topic-item {
    display: inline-block;
    border: 1px solid #cccbca;
    padding: 10px;
}

main .topic-wrapper {
    margin-top: 40px;
    font-family: Roboto-Regular, sans-serif;
}

main .topic-wrapper .center-item {
    text-align: center;
}
footer {
	width: 100%;
	height: 80px;
	padding: 25px;
	color: white;
	margin-top: 40px;
}